<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/css/styles.min.css">
    <!-- **DO THIS**: -->
    <!--   Replace SDK_VERSION_NUMBER with the current SDK version number -->
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.765.0.min.js"></script>


</head>
<body>
    <div class="main-content">
           <div class="header">Welcome</div>
           <div class="info">
               <p>AWS Reckgnition</p>
           </div>
           <div class="content">
           <h2>Upload Image for Analysis</h2>
            <br>
               <form method="post" enctype="multipart/form-data" action="analyze">
                    <div>
                        <label for="file">Choose file to upload</label>
                        <input type="file" id="file" name="file">
                    </div>
                    <div>
                        <p><input type="submit" value="Submit"></p>
                    </div>
                </form>
       </div>
        </body>
          </html>
   </div>
</html>
